<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <h1>Create a new listing!</h1>

      <%= simple_form_for @listing do |f| %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :listing_type,
          collection: Listing.listing_types.keys,
          selected: 0,
          mutiple: 'multiple',
          label: 'What type of listing are you looking to create?' %>
        <%= f.association :tags, input_html: { class: 'select2' } %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.button :button, 'Create Listing', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>

