<div class="container py-5">
  <div class="row">
    <div class="col-12">
      <% @conversation.messages.each do |message| %>
        <p>
          <%= message.user.email %>:
          <%= message.content %>
        </p>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h3>Message listing owner</h3>
      <%= simple_form_for [@conversation, @message] do |f| %>
        <%= f.hidden_field :listing_id, value: @conversation.listing_id %>
        <%= f.input :content %>
        <%= f.button :button, 'Send message', class: 'btn btn-primary btn-block' %>
      <% end %>
    </div>
  </div>
</div>

