<div class="container text-center">
	<h1>Search for a plant</h1>
	<%= form_tag plants_path, method: :get do %>
	<%= text_field_tag :query,
		params[:query],
		class: "form-control",
		placeholder: "Enter plant name"
	%>
	<%= submit_tag "Search", class: "btn btn-primary" %>
	<% end %>


	<div class="row pt-5">
		<% if params[:query].present? %>
			<% @plants.each do |plant| %>
				<% unless plant["image_url"] == nil %>
					<div class="col-3">
						<div class="d-flex justify-content between mt-2">

							<div class="card" id="plant-card">
								<img src="<%= plant["image_url"] %>" id="plant-img" class="card-img-top" alt="...">
								<div class="card-body">
									<h5 class="card-title"><%= plant["common_name"] %></h5>
									<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
									<%= link_to "Find out more", plant_path(slug: plant["slug"]) %>
								</div>
							</div>			
						</div>
					</div>
					<% end %>
			<% end %>
		<% end %>
	</div>
</div>


