<div class="container">
	<h1>This is plant show page</h1>
		<div class="row border border-primary">
			<ul>
				<li>Common Name: <%= @plants["common_name"] %></li>
				<li>Vegetables: <%= @plants["vegetable"] %></li>
				<li>Edible parts: <%= @plants["edible_part"] %></li>
				<li>Edible: <%= @plants["edible"] %></li>
				<li>Toxicity: <%= @plants["specifications"]["toxicity"] %></li>
				<li>Maximum height: <%= @plants["specifications"]["maximum_height"]["cm"] %>cm</li>
			</ul>
		</div>
		<div class="row border border-warning">
			<div class="col-3 d-flex">
				<div class="slider">
					<% @flowers.each_with_index do |flower, n| %>
						<a href="#slide-<%= n %>"><%= n %></a>
						<div class="slides">
							<div id="slide-<%= n %>">
								<img src="<%= flower["image_url"] %>" class="d-block w-100" alt="...">
							</div>
						</div>
					<% end %>
				</div>
			
			
			</div>
		</div>
</div>